
<!DOCTYPE html>
<html>
  <div>
      <%= render 'layouts/railsHeader'%>
  </div>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>